@import "tailwindcss";

@theme inline {
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Red Hat Display', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --color-background: var(--color-background);
  --color-border: var(--color-border);
  --color-text: var(--color-text);
  --color-muted: var(--color-muted);
}

:root {
  --color-background: hsl(0, 0%, 100%);
  --color-border: hsl(0, 0%, 92%);
  --color-text: hsl(0, 0%, 0%);
  --color-muted: hsl(0, 0%, 36%);
}

.dark {

}

body {
  font-family: var(--font-sans);
  color: var(--color-text);
  background-color: var(--color-background);
}

a, button {
  font-family: var(--font-sans);
}