@import "tailwindcss";

@theme inline {
  --font-serif: 'Inter', sans-serif;
  --font-display: 'Red Hat Display', sans-serif;
  --color-background: var(--color-background);
  --color-border: var(--color-border);
  --color-text: var(--color-text);
}

:root {
  --color-background: hsl(0, 0%, 100%);
  --color-border: hsl(0, 0%, 92%);
  --color-text: hsl(0, 0%, 0%);
}

.dark {

}

body {
  font-family: var(--font-serif);
  color: var(--color-text);
  background-color: var(--color-background);
}